<div class="ui secondary  menu">
  {{link-to 'Ruby' ruby class="blue item"}}
  {{link-to 'Node' node class="blue item"}}
  {{link-to 'Curl' curl class="blue item"}}
  {{link-to 'PHP' php class="blue item"}}
  <a class="item">
    Python
  </a>
  <a class="item">
    Java
  </a>
  <a class="item">
    Go
  </a>
</div>

