<div class="ui secondary  menu">
  {{link-to 'Ruby' ruby class="item"}}
  {{link-to 'Node' node class="item"}}
  {{link-to 'Curl' curl class="item"}}
  <a class="item">
    Phyhon
  </a>
  <a class="item">
    PHP
  </a>
  <a class="item">
    Java
  </a>
  <a class="item">
    Go
  </a>
</div>

