<div class="ui secondary  menu">
  <a class="active item">
    Ruby
  </a>
  <a class="item">
    Node
  </a>
  <a class="item">
    curl
  </a>
  <a class="item">
    Phyhon
  </a>
  <a class="item">
    PHP
  </a>
  <a class="item">
    Java
  </a>
  <a class="item">
    Go
  </a>
</div>

