<div class="ui vertical inverted sidebar menu">
  <div class="item">
    <div class="header">
      <h4 class="">Globelabs <span class="ui blue header">api</span></h4>
    </div>
  </div>
  <div class="item">
    <div class="header">API</div>
    <div class="menu">
      {{link-to 'Introduction' 'introduction' class='item'}}
      <a class="item">Errors - WIP</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Methods</div>
    <div class="menu">
      {{link-to 'Short Message Service' 'sms.ruby' class="item"}}
      {{link-to 'Charging' 'charging.ruby' class="item"}}
      <a class="item">Voice - WIP</a>
      <a class="item">Location-based Services - WIP</a>
      <a class="item">Subscriber Data Query - WIP</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Support</div>
    <div class="menu">
      <a href="mailto:api@globelabsbeta.com" class="item">E-mail Support</a>
    </div>
  </div>
</div>
