<h2 class="ui header">Short Message Service</h2>
<p>
  Short Message Service (SMS) enables your application or service to send and receive secure, targeted text messages and alerts to your Globe / TM subscribers.
</p>
<p>
  These interfaces are  RESTful interfaces based on OneAPI GSMA SMS v3 (RESTFul NETAPI).
</p>
<p>
  Note: All API calls must include the access_token as one of the Universal Resource Identifier (URI) parameters.
</p>
