<h4>Example Response</h4>
{{code-highlight lang='ruby' file=file}}

<h4>Response Parameters</h4>
<table class="ui selectable inverted table">
<thead>
  <tr>
    <th>Parameter name</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>outboundSMSResponse</td>
    <td>Specifies the body of the response.</td>
  </tr>
  <tr>
    <td>address</td>
    <td>Subscriber MSISDN (mobile number) whom the SMS was sent to.</td>
  </tr>
  <tr>
    <td>senderAddress</td>
    <td>Refers to the application short code suffix (last 4 digits).</td>
  </tr>
  <tr>
    <td>outboundSMSTextMessage</td>
    <td>Specifies the URI that provides network delivery status of the sent message. The API Endpoint.</td>
  </tr>
  <tr>
    <td>notifyURL</td>
    <td>App call back URL defined at the App Info.</td>
  </tr>
</tbody>
</table>

