<div class="ten wide column color">
  <div class="code-request">
    <h4>Installation</h4>
    <h5 class="ui grey header">
    npm install globelabs-charging
    </h5>
    <h4>Example Request</h4>
    {{code-highlight lang='javascript' file=file}}

    {{charging/charging-parameters}}

    <br/>
    {{charging/charging-response}}
    </div>
</div>
