<div class="ten wide column color">
  <div class="code-request">
    <h4>Example Request</h4>
    {{code-highlight lang='javascript' file=file}}

    {{charging/charging-parameters}}

    <br/>
    {{charging/charging-response}}
    </div>
</div>
