<div class="ten wide column color">
  <div class="code-request">
    <h4>Installation</h4>
    <h5 class="ui grey header">
    gem 'globelabs-charging'
    </h5>
    And then execute:
    <h5 class="ui grey header">
    $ bundle
    </h5>
    Or install it yourself as:
    <h5 class="ui grey header">
    gem install globelabs-charging
    </h5>
    <h4>Example Request</h4>
    {{code-highlight lang='ruby' file=file}}

    {{charging/charging-parameters}}

    <br/>
    {{charging/charging-response}}
    </div>
</div>
