<h2 class="ui header">Charging API</h2>
<p>
  The Charging API directly charges for digital services to the bill of an Globe or TM subscriber. A developer creates new transactions or subscriptions, requests the status of the transaction or subscription, and authorizes refunds.
</p>
<p>
  TheSE interfaces are  RESTful interfaces based on OneAPI GSMA Charging v1 (RESTFul API).
</p>
<h4>CHARGING v2.1</h4>
<p>
  The OneAPI Payment interface allows you to charge mobile subscribers for use of your Web application or content. The API allows you to directly charge a user based on their consent (see ‘User consent and operator policies’ below).
</p>
