<h4>Resource Parameters</h4>
<table class="ui selectable inverted table">
<thead>
  <tr>
    <th>Parameter name</th>
    <th>Description</th>
    <th>Usage</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>amount</td>
    <td>(decimal) amount to be charged. Must be in decimal format.
eg. 1.00, 2.50, 10.00</td>
    <td>Required</td>
  </tr>
  <tr>
    <td>description</td>
    <td>(string) is the human-readable text to appear on the bill, so the user can easily see what they bought</td>
    <td>Required</td>
  </tr>
  <tr>
    <td>msisdn</td>
    <td>URL-escaped end user ID; in this case their MSISDN including the ‘tel:’ protocol identifier and the country code preceded by ‘+’. i.e., tel:+16309700001. OneAPI also supports the Anonymous Customer Reference (ACR) if provided by the operator.</td>
    <td>Required</td>
  </tr>
  <tr>
    <td>reference_code</td>
    <td>(string, unique per charge event) is your reference for reconciliation purposes.
The operator should include it in reports so that you can match their view of what has been sold with yours by matching the referenceCodes.
Required format:
SUFFIX + Increment of 1 from 1000000
e.g. 29431,000,002
                9,999,999
For your 1st transaction ref #:
 29431000001</td>
    <td>Required</td>
  </tr>
    <td>access_token</td>
    <td>Obtain from authentication</td>
    <td>Required</td>
</tbody>
</table>
