<div class="ten wide column color">
  <div class="code-request">
    <h4>Example Request</h4>
    {{code-highlight lang='javascript' file=file}}

    {{sms/sms-parameters}}

    <br/>
    {{sms/sms-response}}

    <br/>
    <br/>
    <h4>Receiving SMS</h4>
    {{sms/sms-receiving}}
    </div>
</div>
