<div class="ten wide column color">
  <div class="code-request">
    <h4>Installation</h4>
    The library is installed via <a href="https://getcomposer.org/">Composer</a>
    <h5 class="ui grey header">
    curl -sS https://getcomposer.org/installer | php
    </h5>
    Next, run the Composer command to install the latest stable version of Globelabs:
    <h5 class="ui grey header">
    composer.phar require rsupan/globelabs
    </h5>
    <h4>Example Request</h4>
    {{code-highlight lang='php' file=file}}

    {{sms/sms-parameters}}

    <br/>
    {{sms/sms-response}}

    <br/>
    <br/>
    <h4>Receiving SMS</h4>
    {{sms/sms-receiving}}
    </div>
</div>
