<div class="ui grid">
  <div class="six wide column">
  <div class="main container">
    {{charging/charging-intro}}
    </div>
  </div>

  <div class="ten wide column color">
    {{code-menu ruby='charging.ruby' node='charging.node' curl='charging.curl'}}

    {{outlet}}
  </div>
</div>

