<div class="ui grid">
  <div class="six wide column">
  <div class="main container">
    <h2 class="ui header">API Reference</h2>
    <p>
      The Globelabs API is organized around REST. The API is designed to have predictable, resource-oriented URLs and to use HTTP response codes to indicate API errors.
      We use built-in HTTP features, like HTTP authentication and HTTP verbs, which can be understood by off-the-shelf HTTP clients,
      JSON will be returned in all responses from the API, including errors.
    </p>
    </div>
  </div>

  <div class="ten wide column">

    <div class="ui secondary  menu">
      <a class="active item">
        curl
      </a>
      <a class="item">
        Ruby
      </a>
      <a class="item">
        Node
      </a>
      <a class="item">
        Phyhon
      </a>
      <a class="item">
        PHP
      </a>
      <a class="item">
        Java
      </a>
      <a class="item">
        Go
      </a>
    </div>

    <div>
      <h3>Libraries</h3>
      <br>
      Libraries are available in several languages.
      <br>

      <h4>API Endpoint</h4>
      <span>https://devapi.globelabs.com.ph</span>

      <h4 class="ui header">What is this and why does it exist?</h4>
      <p>A working in progress..</p>
      <p>I built this site to provide a better way to use the <a href="http://www.globelabs.com.ph/docs">Globelabs</a> API.
       Documentation heavily inspired by <a href="https://stripe.com/docs/api">stripe-api</a></p>

      <h4>Open source</h4>
      <p>All library used are available at <a href="https://github.com/search?q=user%3ABernardTolosajr+globelabs">Github</a></p>

      <h4 class="ui header">Disclaimer</h4>
      <p>This is not the globelabs api official documentation</p>
      <p>For official <a href="http://www.globelabs.com.ph/docs">Globelabs</a> documents</p>
    </div>
  </div>
</div>
