<div class="ui grid">
  <div class="six wide column">
  <div class="main container">
    {{sms/sms-intro}}
    </div>
  </div>

  <div class="ten wide column color">
    {{code-menu}}

    {{outlet}}
  </div>
</div>
