<div class="ui stackable grid">
  <div class="six wide column">
  <div class="main container">
    {{sms/sms-intro}}
    </div>
  </div>

  <div class="ten wide column color">
    {{code-menu ruby='sms.ruby' node='sms.node' curl='sms.curl' php='sms.php'}}
    {{outlet}}
  </div>
</div>
